{% extends 'home/base.html' %}

{% block title %}Inicio{% endblock title %}

{% block content %}
    <div class="container-xxl">
        <div class="row justify-content-center">
            <div class="col-lg-8">
                <div class="card-body">
                    <form action="/registrarUsuarios/" method="POST">{% csrf_token %}
                        <h6 class="heading-small text-muted mb-4">Nuevo usuario</h6>
                        <div class="pl-lg-4">
                            <div class="row mb-3">
                                <div class="col-lg-4">
                                    <div class="form-group">
                                        <label class="form-control-label" for="input-username">Código de usuario</label>
                                        <input type="text" name="codigo_usuario" class="form-control" value="{{ codigo_usuario }}" readonly>
                                    </div>
                                </div>
                            </div>

                            <div class="row mb-3">
                                <div class="col-lg-4">
                                    <div class="form-group">
                                        <label class="form-control-label" for="input-first-name">Nombres</label>
                                        <input type="text" id="input-first-name" class="form-control" name="nombres">
                                    </div>
                                </div>
                                <div class="col-lg-4">
                                    <div class="form-group">
                                        <label class="form-control-label" for="input-apellido_paterno">Apellido paterno</label>
                                        <input type="text" id="input-apellido_paterno" class="form-control" name="apellido_paterno">
                                    </div>
                                </div>
                                <div class="col-lg-4">
                                    <div class="form-group">
                                        <label class="form-control-label" for="input-apellido_materno">Apellido materno</label>
                                        <input type="text" id="input-apellido_materno" class="form-control" name="apellido_materno">
                                    </div>
                                </div>
                            </div>
                        </div>

                        <hr class="my-4" />

                        <!-- Información de rol y usuario -->
                        <div class="pl-lg-4">
                            <div class="row mb-3">
                                <div class="col-lg-6">
                                    <label for="inputRole" class="form-control-label">Rol</label>
                                    <select class="form-control" id="inputRole" name="rol" required>
                                        <option value="" disabled selected>Seleccione una opción</option>
                                        {% for grupo in grupos %}
                                            <option value="{{ grupo.id }}">{{ grupo.name }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                                <div class="col-lg-6">
                                    <label for="inputUsuarios" class="form-control-label">Usuarios</label>
                                    <select class="form-control" id="inputUsuarios" name="user" required>
                                        <option value="" disabled selected>Seleccione usuario</option>
                                        {% for user in users %}
                                            <option value="{{ user.id }}">{{ user.username }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>

                            <div class="row mb-3">
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <label class="form-control-label" for="input-ci">Cédula de identidad</label>
                                        <input type="text" id="input-ci" class="form-control" name="ci">
                                    </div>
                                </div>
                            </div>
                        </div>

                        <hr class="my-4" />

                        <!-- Dirección -->
                        <h6 class="heading-small text-muted mb-4">Dirección</h6>
                        <div class="pl-lg-4">
                            <div class="form-group row mb-3">
                                <div class="col-lg-12">
                                    <label for="inputUrbanizacion" class="form-control-label">Zona/Urbanización</label>
                                    <select class="form-control" id="inputUrbanizacion" name="urbanizaciones" required>
                                        <option value="" disabled selected>Seleccione una opción</option>
                                        {% for urbanizacion in zonas_urb %}
                                            <option value="{{ urbanizacion.gid }}">{{ urbanizacion.nombre }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>

                            <div class="row mb-3">
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <label class="form-control-label" for="input-calle_avenida">Calle/Avenida</label>
                                        <input type="text" id="input-calle_avenida" class="form-control" name="calle_avenida">
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <label class="form-control-label" for="input-numero_vivienda">Número de vivienda</label>
                                        <input type="number" id="input-numero_vivienda" class="form-control" name="numero_vivienda">
                                    </div>
                                </div>
                            </div>

                            <hr class="my-4" />

                            <!-- Botón de guardar -->
                            <div class="col-lg-4">
                                <button type="submit" class="btn btn-primary custom-button">
                                    Guardar
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    </br>
{% endblock content %}
