{% extends 'home/base.html' %}

{% block title %} Inicio {% endblock title %}

{% block content %}
{% load static %}
    <div class="container-xxl">
        <div class="row justify-content-center">
            <div class="col-md-6 col-lg-4">
                <div class="card">
                    <div class="card-body">
                        <div class="row d-flex justify-content-center border-dashed-bottom pb-3">
                            <div class="col-9">
                                <p class="text-dark mb-0 fw-semibold fs-14">Usuarios</p>
                                <h3 class="mt-2 mb-0 fw-bold">{{ total_usuarios }}</h3>                      
                            </div>
                            <!--end col-->
                            <div class="col-3 align-self-center">
                                <div class="d-flex justify-content-center align-items-center thumb-xl bg-light rounded-circle mx-auto">
                                    <i class="iconoir-hexagon-dice h1 align-self-center mb-0 text-secondary"></i>
                                </div>
                            </div>
                            <!--end col-->
                        </div>
                    </div>
                    <!--end card-body-->
                </div>
                <!--end card-->
            </div>
            <!--end col-->
            <div class="col-md-6 col-lg-4">
                <div class="card">
                    <div class="card-body">
                        <div class="row d-flex justify-content-center border-dashed-bottom pb-3">
                            <div class="col-9">
                                <p class="text-dark mb-0 fw-semibold fs-14">Solicitudes de Vecinos</p>
                                <h3 class="mt-2 mb-0 fw-bold">{{ total_vecinos }}</h3>
                            </div>
                            <!--end col-->
                            <div class="col-3 align-self-center">
                                <div class="d-flex justify-content-center align-items-center thumb-xl bg-light rounded-circle mx-auto">
                                    <i class="iconoir-clock h1 align-self-center mb-0 text-secondary"></i>
                                </div>
                            </div>
                            <!--end col-->
                        </div>
                        <!--end row-->
                    </div>
                    <!--end card-body-->
                </div>
                <!--end card-->
            </div>
            <!--end col-->
            <div class="col-md-6 col-lg-4">
                <div class="card">
                    <div class="card-body">
                        <div class="row d-flex justify-content-center border-dashed-bottom pb-3">
                            <div class="col-9">
                                <p class="text-dark mb-0 fw-semibold fs-14">Solicitudes Asignadas a Técnico</p>
                                <h3 class="mt-2 mb-0 fw-bold">{{ total_solicitudes }}</h3>
                            </div>
                            <!--end col-->
                            <div class="col-3 align-self-center">
                                <div class="d-flex justify-content-center align-items-center thumb-xl bg-light rounded-circle mx-auto">
                                    <i class="iconoir-percentage-circle h1 align-self-center mb-0 text-secondary"></i>
                                </div>
                            </div>
                            <!--end col-->
                        </div>
                    </div>
                    <!--end card-body-->
                </div>
                <!--end card-->
            </div>
            <!--end col-->
        </div>
        <!--end row-->
        <!--end row-->
        <div class="row justify-content-center">
            <div class="col-md-6 col-lg-4">
                <div class="card">
                    <div class="card-header">
                        <div class="row align-items-center">
                            <div class="col">
                                <h4 class="card-title">Fuentes de tráfico</h4>
                            </div>
                            <!--end col-->
                        </div>
                        <!--end row-->
                    </div>
                    <!--end card-header-->
                    <div class="card-body pt-0">
                        <div class>
                            <div id="traffic_sources" class="apex-charts d-block w-90 mx-auto"></div>
                            <hr class="hr-dashed border-secondary w-25 mt-0 mx-auto">
                        </div>
                        <div class="text-center">
                            <h4>Visitantes Directos</h4>
                            <p class="text-muted mt-2">En los últimos 3 meses</p>
                        </div>
                    </div>
                    <!--end card-body-->
                </div>
                <!--end card-->
            </div>
            <!--end col-->
            <div class="col-md-6 col-lg-8">
                <div class="card">
                    <div class="card-header">
                        <div class="row align-items-center">
                            <div class="col">
                                <h4 class="card-title">Tráfico 
                                    orgánico en el mundo</h4>
                            </div>
                            <!--end col-->
                            <!--end col-->
                        </div>
                        <!--end row-->
                    </div>
                    <!--end card-header-->
                    <div class="card-body pt-0">
                        <div class="row">
                            <div class="col-lg-8">
                                <div id="map_2" class style="height:320px"></div>
                            </div>
                            <!--end col-->
                            <div class="col-lg-4 align-self-center">
                                <div class="d-flex align-items-center my-3">
                                    <img src="{% static 'assets/images/flags/us_flag.jpg' %}" class="thumb-sm align-self-center rounded-circle" alt="...">
                                    <div class="flex-grow-1 ms-2">
                                        <h5 class="mb-1">35,365</h5>
                                        <p class="text-muted mb-0">EE. UU.
                                            . El mes pasado
                                            <span class="text-success">2.5%
                                                <i class="mdi mdi-arrow-up"></i></span>
                                        </p>
                                    </div>
                                    <!--end media-body-->
                                </div>
                                <!--end media-->
                                <div class="d-flex align-items-center my-3">
                                    <img src="{% static 'assets/images/flags/germany_flag.jpg' %}" class="thumb-sm align-self-center rounded-circle" alt="...">
                                    <div class="flex-grow-1 ms-2">
                                        <h5 class="mb-1">24,865</h5>
                                        <p class="text-muted mb-0">Alemania
                                            . El mes pasado
                                            <span class="text-success">1.2%
                                                <i class="mdi mdi-arrow-up"></i></span>
                                        </p>
                                    </div>
                                    <!--end media-body-->
                                </div>
                                <!--end media-->
                                <div class="d-flex align-items-center my-3">
                                    <img src="{% static 'assets/images/flags/spain_flag.jpg' %}" class="thumb-sm align-self-center rounded-circle" alt="...">
                                    <div class="flex-grow-1 ms-2">
                                        <h5 class="mb-1">18,369</h5>
                                        <p class="text-muted mb-0">España
                                            . El mes pasado
                                            <span class="text-success">0.8%
                                                <i class="mdi mdi-arrow-up"></i></span>
                                        </p>
                                    </div>
                                    <!--end media-body-->
                                </div>
                                <!--end media-->
                                <div class="d-flex align-items-center my-3">
                                    <img src="{% static 'assets/images/flags/bol_flag.jpg' %}" class="thumb-sm align-self-center rounded-circle" alt="...">
                                    <div class="flex-grow-1 ms-2">
                                        <h5 class="mb-1">11,325</h5>
                                        <p class="text-muted mb-0">Bolivia
                                            . El mes pasado
                                            <span class="text-success">2.5%
                                                <i class="mdi mdi-arrow-up"></i></span>
                                        </p>
                                    </div>
                                    <!--end media-body-->
                                </div>
                                <!--end media-->
                            </div>
                            <!--end col-->
                        </div>
                        <!--end row-->

                    </div>
                    <!--end card-body-->
                </div>
                <!--end card-->
            </div>
            <!--end col-->
        </div>
        <!--end row-->
    </div><!-- container -->

    <!--Start Rightbar-->
    <!--Start Rightbar/offcanvas-->
    <div class="offcanvas offcanvas-end" tabindex="-1" id="Appearance" aria-labelledby="AppearanceLabel">
        <div class="offcanvas-header border-bottom justify-content-between">
        <h5 class="m-0 font-14" id="AppearanceLabel">Appearance</h5>
        <button type="button" class="btn-close text-reset p-0 m-0 align-self-center" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body">  
            <h6>Account Settings</h6>
            <div class="p-2 text-start mt-3">
                <div class="form-check form-switch mb-2">
                    <input class="form-check-input" type="checkbox" id="settings-switch1">
                    <label class="form-check-label" for="settings-switch1">Auto updates</label>
                </div><!--end form-switch-->
                <div class="form-check form-switch mb-2">
                    <input class="form-check-input" type="checkbox" id="settings-switch2" checked>
                    <label class="form-check-label" for="settings-switch2">Location Permission</label>
                </div><!--end form-switch-->
                <div class="form-check form-switch">
                    <input class="form-check-input" type="checkbox" id="settings-switch3">
                    <label class="form-check-label" for="settings-switch3">Show offline Contacts</label>
                </div><!--end form-switch-->
            </div><!--end /div-->
            <h6>General Settings</h6>
            <div class="p-2 text-start mt-3">
                <div class="form-check form-switch mb-2">
                    <input class="form-check-input" type="checkbox" id="settings-switch4">
                    <label class="form-check-label" for="settings-switch4">Show me Online</label>
                </div><!--end form-switch-->
                <div class="form-check form-switch mb-2">
                    <input class="form-check-input" type="checkbox" id="settings-switch5" checked>
                    <label class="form-check-label" for="settings-switch5">Status visible to all</label>
                </div><!--end form-switch-->
                <div class="form-check form-switch">
                    <input class="form-check-input" type="checkbox" id="settings-switch6">
                    <label class="form-check-label" for="settings-switch6">Notifications Popup</label>
                </div><!--end form-switch-->
            </div><!--end /div-->               
        </div><!--end offcanvas-body-->
    </div>
    <!--end Rightbar/offcanvas-->
    <!--end Rightbar-->
{% endblock content %}