{% extends 'home/base.html' %}

{% block title %} Listar Usuarios {% endblock title %}

{% block content %}
{% load static %}
    <!-- Top Bar Start -->
    <div class="container-xxl"> 
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <div class="row align-items-center">
                            <div class="col">                      
                                <h4 class="card-title">Lista de Usuarios</h4>                      
                            </div><!--end col-->
                            <div class="col-auto"> 
                                <form class="row g-2">
                                    <div class="col-auto">
                                        <a class="btn bg-primary-subtle text-primary dropdown-toggle d-flex align-items-center arrow-none" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="false" aria-expanded="false" data-bs-auto-close="outside">
                                            <i class="iconoir-filter-alt me-1"></i> Filtrar
                                        </a>
                                        <div class="dropdown-menu dropdown-menu-start">
                                            <div class="p-2">
                                                <div class="form-check mb-2">
                                                    <input type="checkbox" class="form-check-input" checked id="filter-all">
                                                    <label class="form-check-label" for="filter-all">
                                                      All 
                                                    </label>
                                                </div>
                                                <div class="form-check mb-2">
                                                    <input type="checkbox" class="form-check-input" checked id="filter-one">
                                                    <label class="form-check-label" for="filter-one">
                                                        New
                                                    </label>
                                                </div>
                                                <div class="form-check mb-2">
                                                    <input type="checkbox" class="form-check-input" checked id="filter-two">
                                                    <label class="form-check-label" for="filter-two">
                                                        VIP
                                                    </label>
                                                </div>
                                                <div class="form-check mb-2">
                                                    <input type="checkbox" class="form-check-input" checked id="filter-three">
                                                    <label class="form-check-label" for="filter-three">
                                                        Repeat
                                                    </label>
                                                </div>
                                                <div class="form-check mb-2">
                                                    <input type="checkbox" class="form-check-input" checked id="filter-four">
                                                    <label class="form-check-label" for="filter-four">
                                                        Referral
                                                    </label>
                                                </div>
                                                <div class="form-check mb-2">
                                                    <input type="checkbox" class="form-check-input" checked id="filter-five">
                                                    <label class="form-check-label" for="filter-five">
                                                        Inactive
                                                    </label>
                                                </div>
                                                <div class="form-check">
                                                    <input type="checkbox" class="form-check-input" checked id="filter-six">
                                                    <label class="form-check-label" for="filter-six">
                                                        Loyal
                                                    </label>
                                                </div>
                                            </div>
                                        </div>
                                    </div><!--end col-->
                                    
                                    <div class="col-auto">
                                      <button type="button" class="btn btn-primary"  data-bs-toggle="modal" data-bs-target="#addBoard"><i class="fa-solid fa-plus me-1"></i> Agregar Usuario</button>
                                    </div><!--end col-->
                                </form>    
                            </div><!--end col-->
                        </div><!--end row-->                                  
                    </div><!--end card-header-->
                    <div class="card-body pt-0"> 
                        
                        <div class="table-responsive">
                            <table class="table mb-0 checkbox-all" id="datatable_1">
                                <thead class="table-light">
                                    <tr>
                                        <th class="text-center">Código de usuario</th>
                                        <th class="text-center">Nombres</th>
                                        <th class="text-center">Apellido paterno</th>
                                        <th class="text-center">Apellido materno</th>
                                        <th class="text-center">Rol</th>
                                        <th class="text-center">Ci</th>
                                        <th class="text-center">Zona/Urbanización</th>
                                        <th class="text-center">Calle avenida</th>
                                        <th class="text-center">Número de vivienda</th>
                                        <th class="text-center">Acciones</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for l in usuarios %}
                                    <tr>
                                        <td class="text-center">{{ l.codigo_usuario }}</td>
                                        <td class="text-center">{{ l.nombres }}</td>
                                        <td class="text-center">{{ l.apellido_paterno }}</td>
                                        <td class="text-center">{{ l.apellido_materno }}</td>
                                        <td class="text-center">
                                            {% if l.rol.all %}
                                                {% for group in l.rol.all %}
                                                    {{ group.name }}{% if not forloop.last %}, {% endif %}
                                                {% endfor %}
                                            {% else %}
                                                No tiene rol asignado.
                                            {% endif %}
                                        </td>
                                        <td class="text-center">{{ l.ci }}</td>
                                        <td class="text-center">{{ l.urbanizaciones }}</td>
                                        <td class="text-center">{{ l.calle_av }}</td>
                                        <td class="text-center">{{ l.numero_vivienda }}</td>
                                        <td class="text-center actions">
                                            <!-- Icono para editar -->
                                            <a href="{% url 'edicionUsuarios' l.ci %}" title="Editar">
                                                <i class="fas fa-edit"></i>
                                            </a>
                                            <!-- Icono para eliminar -->
                                            <a href="{% url 'eliminarUsuarios' l.ci %}" title="Eliminar">
                                                <i class="fas fa-trash"></i>
                                            </a>
                                            <!-- Icono para imprimir PDF -->
                                            <a href="#" title="Imprimir PDF">
                                                <i class="fas fa-file-pdf"></i>
                                            </a>
                                        </td>
                                    </tr> 
                                    {% endfor %}                                                                           
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div> <!-- end col -->
        </div> <!-- end row -->                                     
    </div><!-- container -->

{% endblock %}
